.str {
    display: flex;
}
.hat-style-discounts {
    color: #000000; /* цвет */
    text-decoration: none; /* убрал подчеркивание */
    font-weight: 500; /* жирный шрифт */
    font-size: 18px; /* размер шрифта */
    transition: color 0.3s linear; /* плавность изменения цветы при наведении маши */
    }
.verticalLine {
    border-left: 2px solid grey;
    height: 100%;
}
.one-row {
    display: flex;
}
.cont-shop {
    display: flex;
    transition: color 0.3s linear;
    margin-right: 80px;
}
.cont-shop:hover {
    background: #F2F3F4 /* меняет цвет при наведении мыши */
}
.indentation {
    margin-right: 30px; /* отступы */
}
.cont-inf-shop {
    width: 150px;
    height: 200px;
    background-color: #d3d3d3;
    margin-right: 30px; /* отступы (не работают) */
    margin-left: 30px; /* отступ слева */
}
.indentationleft {
    margin-left: 30px; /* отступ слева */
}
.cont-day {
    width: 100px;
    height: 120px;
    /*background-color: #d3d3d3;*/
    margin-right: 10px; /* отступы */
    text-align: center
}
.photo {
    display: inline-block; /* Строчно-блочный элемент */
    position: relative; /* Относительное позиционирование */
}
.photo:hover::after {
    content: attr(data-title); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    left: 20%; top: 30%; /* Положение подсказки */
    z-index: 1; /* Отображаем подсказку поверх других элементов */
    background: rgba(255,255,230,0.9); /* Полупрозрачный цвет фона */
    font-family: Arial, sans-serif; /* Гарнитура шрифта */
    font-size: 11px; /* Размер текста подсказки */
    padding: 5px 10px; /* Поля */
    border: 1px solid #333; /* Параметры рамки */
}