.image {
    width: 100%;
}
.map-shop {
    width: 600px;
    height: 400px;
}
[class*="copyrights-pane"] {
    display: none !important;
}
.img__soc__network {
    margin-right: 10px; /* отступы */
}
.soc-network-img {
    padding-top: 30px;
    display: flex;
}
.cont-day {
    box-shadow: 10px 10px 40px 20px #0000001A; /* тени */
    /* background-color: #d3d3d3; */
    width: 150px;
    height: 180px;
    text-align: center;
    margin-left: 5px; /* отступ слева */
    margin-right: 30px; /* отступ слева */
    padding-top: 10px; /* отступил от верха */
}
.photo {
    padding-top: 5px; /* отступил от верха */
    display: inline-block; /* Строчно-блочный элемент */
    position: relative; /* Относительное позиционирование */
}
.day {
    font-size: 25px; /* размер шрифта */
    font-weight: 700; /* жирный шрифт */
}
.discount {
    font-size: 18px; /* размер шрифта */
}
.container__promotions {
    padding-top: 10px; /* отступил от верха */
    display: flex;
    justify-content: center;
}
.discount__information {
    display: flex;
    align-items: center; /* выравнял элементы по центру картинки */
}
.discount__description {
    margin-left: 10px; /* отступ слева */
}
.store__image {
    margin-left: 300px;
}
.container__information__and__image {
    display: flex;
    padding-top: 20px; /* отступил от верха */
}

.container__img {
    position: relative;
    width: 100%;
    max-width: 600px;
}

.container__img {
    width: 100%;
    height: auto;
}

.container__img .btn__photo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(120%, -400%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.container__img .btn__map {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(220%, -400%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.container__img .btn__photo:hover {
    background-color: black;
}
.container__img .btn__map:hover {
    background-color: black;
}
.increase__font {
    font-size: 1.3rem;
}
.open__hours {
    display: flex;
    align-items: center;
}
.image__open__hours {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}
.name__shop {
    font-weight: 600; /* жирный шрифт */
    font-size: 25px; /* размер шрифта */
}
.address__shop {
    font-weight: 400; /* жирный шрифт */
    font-size: 18px; /* размер шрифта */
}
.container__day {
    padding-top: 5px; /* отступил от верха */
}
.container__discount__description {
    display: flex;
    margin-bottom: 30px; /* отступил вниз */
}