{% extends 'main/base.html' %}

{% load static %} <!-- добавили новую функциональность, теги css -->

{% block css_additional %}
    <link rel="stylesheet" href="{% static 'css/catalog.css' %}"> <!-- rel указывает тип документа, который хотим подгрузить, "stylesheet" - css -->
{% endblock %}

{% block title %}
Каталог
{% endblock %}

{% block content %}
<div class="=container">
    <div class="row">
        {% for discount in list_social_discounts %}
            <div class="col-sm">
                <h4><a href="{% url 'pensioner' discount %}">{{ discount }}</a></h4>
            </div>
        {% endfor %}
    </div>
</div>
<hr>
<div class="header">
    <div class="=container">
        <div class="row">
            <div class="col-sm">
                <form action="{% url 'filter' %} " method="get">
                    <div>
                        <h6>Город</h6>
                            <select id="fruits" name="city">
                                {% for city in cities %}
                                  <option value="{{ city }}">{{ city }}</option>
                                {% endfor %}
                            </select>
                    </div>
                    <br>
                    <div>
                        <h6>Сеть магазина</h6>
                            {% for name_network in list_name_network %}
                                <input type="checkbox" id="network1" name="store_network" value="{{ name_network }}" {% if name_network in network %} checked {% endif %}>
                                <label for="network1" >{{ name_network }}</label><br>
                            {% endfor %}
                    </div>
                    <br>
                    <div>
                        <h6>Размер магазина</h6>
                            {% for siz in list_sizes %}
                                <input type="checkbox" id="siz1" name="shop_size" value="{{ siz }}" {% if siz in size %} checked {% endif %}>
                                <label for="siz1">{{ siz }}</label><br>
                            {% endfor %}
                    </div>
                    <br>
                    <div>
                        <h6>Скидки</h6>
                            <select id="sales" name="sales">
                                <option selected="selected">{{ sale }}</option>
                                {% for sale in sales %}
                                    <option value="{{ sale }}">{{ sale }}</option>
                                {% endfor %}
                            </select>
                    </div>
                    <br>
                    <div>
                        <h6>Акции</h6>
                            <select id="discounts" name="discount">
                                  <option selected="selected">{{ discount }}</option>
                                  {% for discount in discounts %}
                                      <option value="{{ discount }}">{{ discount }}</option>
                                  {% endfor %}
                            </select>
                    </div>
                    <br>
                    <div>
                        <h6>Дата</h6>
                            <input type="date"  id="date1" name="date" value="selected_date">
                    </div>
                    <br>
                    <div>
                        <button type="submit">Применить</button>
                    </div>
                </form>
            </div>
            <br>
            <br>
            <div class="col-sm">
                {% for inf in list_shop_presentation %}
                    <div class="list">
                        <div class="indentation">
                            <img src="{{ inf.img.image.url }}" height="100" width="120">
                        </div>
                        <div>
                            <h5><a href="{% url 'store' inf.id %}">{{ inf.name_store }} {{ inf.name_rating }}</a></h5>
                        </div>
                    </div>
                        <div class="city_and_address">
                            <p>{{ inf.city }}, {{ inf.address }}</p>
                        </div>
                        <div class="size">
                            <p>Размер магазина: {{ inf.size }}</p>
                        </div>
                        <div>
                            <p>{{ inf.opening_hours_today_text }}</p>
                        </div>
                        <div>
                            <p>{{ inf.list_catalog_prom_days }}</p>
                        </div>
                        <hr>
                    {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}