{% extends 'main/base.html' %}

{% block title %}
Карта
{% endblock %}

{% load static %}

{% block css_additional %}
    <div style="display: none" id="jsonData" data-json="{{ data }}"></div>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=17f348d1-c049-43ed-bf02-73116330dd7b&lang=ru_RU" type="text/javascript"></script>
    <script src='static/js/script_shops_map.js' type="text/javascript"></script>

{% endblock %}

{% block content %}
    <div style="width: 600px; height: 400px" id="map-shops" class="map-container"></div>
    <div>
        <button class="category-button" data-category="category1">Все магазины</button>
        <button class="category-button" data-category="category2">Мода Макс</button>
        <button class="category-button" data-category="category3">Эконом Сити</button>
        <button class="category-button" data-category="category4">Адзенне</button>
        <button class="category-button" data-category="category5">Мегахенд</button>
    </div>
{% endblock %}