{% extends 'main/base.html' %}

{% load static %}

{% block css_additional %}
    <div style="display: none" id="jsonData" data-json="{{ data }}"></div>
    <!-- <link rel="stylesheet" href="{% static 'css/store.css' %}"> -->
    <script src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU" type="text/javascript"></script>
    <script src="{% static 'js/script.js' %}"></script>

{% endblock %}

{% block title %}
Магазин
{% endblock %}

{% block content %}

<div class="=container">
    <div class="row">
        <div class="col-sm">
            <br>
            <h1 class="hat-style">{{ store.name_store }} {{ store.name_rating }}</h1>
            <h4>{{ store.city }}, {{ store.address }}</h4>
            {% for inf in store.list_days_open_hours %}
                <h4>{{ inf }}</h4>
                  {% endfor %}
        </div>
        <div class="col-sm">
            <div>
                <form action="{% url 'shop' %}" method="get">
                    <div>
                        <input type="submit" value="Фото" name="photo_or_map" {% if photo %} disabled {% endif %}></input>
                        <input type="submit" value="Карта" name="photo_or_map" {% if not photo %} disabled {% endif %}></input>
                    </div>
                </form>
            </div>
            {% if photo %}
                <div>
                    <img src="{{ img.img.image.url }}" height="400" width="600">
                </div>
            {% else %}
                <div style="width: 600px; height: 400px" id="map"></div>
            {% endif %}
        </div>
    </div>
</div><br>
<div class="=container">
    <div class="row">
    {% for inf in store.list_week %}
        <div class="col-sm">
            <h3>{{ inf }}</h3>
        </div>
    {% endfor %}
    </div>
    <hr>
    <div class="row">
    {% for inf in store.list_promotion_days %}
        <div class="col-sm">
            {% for price in inf %}
                <h6>{{ price }}</h6>
             {% endfor %}
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}