{% extends 'main/base.html' %}

{% load static %} <!-- добавили новую функциональность, теги css -->

{% block css_additional %}
    <link rel="stylesheet" href="{% static 'main/css/store.css' %}"> <!-- rel указывает тип документа, который хотим подгрузить, "stylesheet" - css -->
{% endblock %}

{% block title %}
Магазин
{% endblock %}

{% block content %}
<table class="text" >
  <tr>
      <td>
          <div style="text-center w-100">
              <h3>{{ store.name_store }} {{ store.name_rating }}</h3>
              <p>{{ store.city }}, {{ store.address }}</p>
              {% for inf in store.list_days_open_hours %}
                    <p>{{ inf }}</p>
              {% endfor %}
              <hr>
          </div>
          <div>
              <ul class="hr">
              {% for inf in store.list_promotion_days %}
              <li>{{ inf }}</li>
              {% endfor %}
              </ul>
          </div>
      </td>
      <td class="rightcol">
          <div class="text">
              <h2>Фото</h2>
          </div>
      </td>
  </tr>
</table>
{% endblock %}